@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

*{

    margin: 0;
    padding: 0;
}


body {

    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;

}

:root{

    --bg-color: #000;
    --style-color: #6f06d1;
    --font-color: #ffffff;
    --hover-color: #6f06d14b;
    
    --main-font: 'Montserrat', 'sans-serif';
    --title-font: 'Krona One', 'sans-serif';
}

/* inicio do cabeçalho */

.cabecalho {

    padding: 2% 0% 0% 15%;

}

.cabecalho__menu {

    display: flex;
    gap: 40px;

}

.cabecalho__menu__link {

    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--style-color);

}

/* fim do cabeçalho */

/* main */

.about{

    padding: 10% 15%;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.about__texto{

    column-count: 1;
    font-family: var(--main-font);
    font-size: 20px;

}

.about__texto__paragrafo{

    padding-bottom: 8px;

}

/* main */ 

/* imagem */

.coderimg {

    position: absolute;
    left: 65%;
    top: 20%;
    border: 1px solid var(--style-color);
    border-radius: 25px;
    padding: 10px;
    width: 400px;

}

/* imagem fim */

/* fromatação do rodape */

.rodape {

    padding: 18px;
    color: black;
    background-color: var(--style-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.5rem;

}